body {
    font-family: "Space mono", monospace;
    margin: 0;
    padding: 0;
    background-color: #eef2f3;
    color: #333;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: darkgray;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.section {
    padding: 180px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.cert-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 100px;
    max-width: 200%;
    margin: 0 auto;
}

.cert-item {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 45%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.cert-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.cert-item p {
    margin-bottom: 15px;
    font-weight: bold;
}

.cert-item:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.toggle-btn {
    position: fixed;
    top: 20px;
    left: 0;
    background-color: gray;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: left 0.3s ease;
}

.sidebar.open + .toggle-btn {
    left: 250px;
}

#vanta-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: #000;
}

.particle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0;
}

@media (max-width: 768px) {
    .cert-container {
        flex-wrap: wrap;
        gap: 100px;
        justify-content: center;
        z-index: -1;
    }

    .cert-item {
        width: 80%;
        padding: 20px;
    }

    .cert-item img {
        width: 100%;
    }

    .cert-item p {
        font-size: 1rem;
    }

    .toggle-btn {
        z-index: 1;
    }
}

@media (max-width: 480px) {
    .cert-container {
        flex-direction: column;
        gap: 100px;
        z-index: -1;
    }

    .cert-item {
        width: 90%;
        padding: 15px;
    }

    .cert-item p {
        font-size: 0.9rem;
    }

    .toggle-btn {
        z-index: 1;
    }
}